In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\brand\OneDrive\Documents\Bootcamp Projects\Case Studies\31.3.2 Craft A Story from a Dataset\flavors_of_cacao.csv")
df.columns

Index(['Company \n(Maker-if known)', 'Specific Bean Origin\nor Bar Name',
       'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating',
       'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

In [3]:
df.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [4]:
df.columns = df.columns.str.replace('\n',' ')
df2 = df.dropna()
print(df2['Bean Type'].unique())

['\xa0' 'Criollo' 'Trinitario' 'Forastero (Arriba)' 'Forastero'
 'Forastero (Nacional)' 'Criollo, Trinitario' 'Criollo (Porcelana)'
 'Blend' 'Trinitario (85% Criollo)' 'Forastero (Catongo)'
 'Forastero (Parazinho)' 'Trinitario, Criollo' 'CCN51' 'Criollo (Ocumare)'
 'Nacional' 'Criollo (Ocumare 61)' 'Criollo (Ocumare 77)'
 'Criollo (Ocumare 67)' 'Criollo (Wild)' 'Beniano' 'Amazon mix'
 'Trinitario, Forastero' 'Forastero (Arriba) ASS' 'Criollo, +' 'Amazon'
 'Amazon, ICS' 'EET' 'Blend-Forastero,Criollo' 'Trinitario (Scavina)'
 'Criollo, Forastero' 'Matina' 'Forastero(Arriba, CCN)'
 'Nacional (Arriba)' 'Forastero (Arriba) ASSS' 'Forastero, Trinitario'
 'Forastero (Amelonado)' 'Trinitario, Nacional' 'Trinitario (Amelonado)'
 'Trinitario, TCGA' 'Criollo (Amarru)']

In [5]:
df2

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [33]:
sns.barplot(data=df2, x='Bean Type',y ='Rating',color='red')
plt.xticks(rotation=90)
plt.title('Rating by bean type')
plt.xlabel('Bean Type')
plt.ylabel('Rating')
plt.savefig('Rating_by_bean_type.png',format='png',dpi=300,bbox_inches='tight')
plt.tight_layout()
plt.clf()
top5_bean_types = df.groupby('Bean Type')['Rating'].mean().sort_values(ascending=False).head(5)
print('Top 5 bean types:\n',top5_bean_types)

Top 5 bean types:
 Bean Type
Criollo (Wild)              4.000
Criollo (Ocumare 67)        4.000
Trinitario (85% Criollo)    3.875
Trinitario, TCGA            3.750
Amazon mix                  3.750
Name: Rating, dtype: float64

In [7]:
#Finding Country Origin for top 5 bean types
print('Top 5 Country Origin:\n')
for index,row in df.iterrows():
    if row['Bean Type'] in top5_bean_types:
        print (row['Broad Bean Origin'])

Top 5 Country Origin:

Venezuela
Madagascar
Venezuela
Bolivia
Costa Rica
Costa Rica
Belize

In [8]:
#Finding Company Location for top 5 bean types
print('Top 5 Company Country Origin:\n')
for index,row in df.iterrows():
    if row['Bean Type'] in top5_bean_types:
        print (row['Company Location'])

Top 5 Company Country Origin:

Italy
Italy
Italy
Switzerland
U.S.A.
U.S.A.
Germany

In [9]:
df2.dtypes
print(df2['Cocoa Percent'].unique())
df2['Cocoa Percent'] = df2['Cocoa Percent'].str.strip('%')
df2

['63%' '70%' '60%' '80%' '88%' '72%' '55%' '75%' '65%' '85%' '73%' '64%'
 '66%' '68%' '50%' '100%' '77%' '90%' '71%' '83%' '78%' '74%' '76%' '86%'
 '82%' '69%' '91%' '42%' '61%' '73.5%' '62%' '67%' '58%' '60.5%' '79%'
 '81%' '57%' '72.5%' '56%' '46%' '89%' '99%' '84%' '53%' '87%']

C:\Users\brand\AppData\Local\Temp\ipykernel_23216\3171426009.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Cocoa Percent'] = df2['Cocoa Percent'].str.strip('%')

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65,Austria,3.00,,Brazil

In [10]:
df2.dtypes

Company  (Maker-if known)            object
Specific Bean Origin or Bar Name     object
REF                                   int64
Review Date                           int64
Cocoa Percent                        object
Company Location                     object
Rating                              float64
Bean Type                            object
Broad Bean Origin                    object
dtype: object

In [11]:
df2['Cocoa Percent'] = df2['Cocoa Percent'].astype(float)
df2.dtypes

C:\Users\brand\AppData\Local\Temp\ipykernel_23216\1335035558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Cocoa Percent'] = df2['Cocoa Percent'].astype(float)

Company  (Maker-if known)            object
Specific Bean Origin or Bar Name     object
REF                                   int64
Review Date                           int64
Cocoa Percent                       float64
Company Location                     object
Rating                              float64
Bean Type                            object
Broad Bean Origin                    object
dtype: object

In [12]:
df2.groupby('Bean Type')['Cocoa Percent'].mean().sort_values(ascending=False).head(5)

Bean Type
Criollo (Ocumare)         80.0
Criollo, Forastero        76.5
Forastero(Arriba, CCN)    75.0
Matina                    74.0
Amazon mix                74.0
Name: Cocoa Percent, dtype: float64

In [13]:
df3 = df2.sort_values(by='Cocoa Percent',ascending=False)
df3

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
1204,Ocho,Sang Yum Coop,1760,2016,100.0,New Zealand,2.75,,Samoa
834,Hotel Chocolat (Coppeneur),"Chanchamayo, Pichanadi, 2012, 60hr c.",1109,2013,100.0,U.K.,2.75,,Peru
437,Claudio Corallo,Principe,252,2008,100.0,Sao Tome,1.00,Forastero,Sao Tome & Principe
1319,Pralus,"Sambirano Valley, Le 100%",202,2008,100.0,France,3.00,Criollo,Madagascar
557,Domori,"IL100, H. San Jose",1109,2013,100.0,Italy,3.00,Criollo,Venezuela
...,...,...,...,...,...,...,...,...,...
343,Caoni (Tulicorp),Los Rios,269,2008,55.0,Ecuador,3.25,Forastero (Arriba),Ecuador
1423,Santander (Compania Nacional),Colombian Semi Dark,32,2006,53.0,Colombia,2.00,Forastero (Nacional),Colombia
90,AMMA,"Monte Alegre, 3 diff. plantations",572,2010,50.0,Brazil,3.75,Forastero (Parazinho),Brazil
984,Luker,Selva,552,2010,46.0,Colombia,2.75,,"Colombia, Ecuador"
429,Chokolat Elot (Girard),Guadeloupe,1149,2013,42.0,Martinique,2.75,,Martinique

In [14]:
sns.barplot(data=df3,x='Rating',y='Cocoa Percent',color='blue')
plt.title('Rating by Cocoa Percentage')
plt.savefig('Rating_by_cocoa_percentage.png',format='png',dpi=300)
plt.clf()

In [15]:
sns.barplot(data=df3,x='Review Date',y='Rating')
plt.title('Rating by date')
plt.savefig('Rating_by_date.png',format='png',dpi=300)
plt.clf()